* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/freedom.jpg') no-repeat center;
    background-size: cover;
    background-color: lightblue;
  }
    
h1 {
    margin: -55% 10% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: larger;
    
}

h2 {
    margin-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: small;
    font-style: italic;
}

h1, h2 {
    text-align: center;
}



